<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Spring Authentication with admin account: </h2>
<ul *ngIf="authenticationResult">
  <li>
    XSRF-TOKEN: {{authenticationResult._csrf}}
  </li>
  <li>
    JSESSIONID: {{authenticationResult.sessionId}}
  </li>
  <li>
    Authenticated: {{authenticationResult.authenticated}}
  </li>
</ul>

<h2>Your authenticated account:</h2>
<ul *ngIf="account">
  <li>
    Username: {{account.username}}
  </li>
  <li>
    Name: {{account.firstName}}, {{account.lastName}}
  </li>
  <li>
    Email: {{account.email}}
  </li>
</ul>

